
.p-about-section-hero{
  background:#ccf;
  position:relative;
  &__catch{
    display:block;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    view-transition-name: about-catch;
    img{
      display:block;
      width:100%;
      height:auto;
    }
  }
  &__title{
  }
}
// ::view-transition-group(about-catch) {
//   z-index: 1;
// }