
.p-about-section-introduction{
  background:#fcf;
  display:flex;
  position:relative;
  height:100vh;
  height:100dvh;
  &__title{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  }
}
