
.c-nav{
  position:fixed;
  z-index:10;
  display:flex;
  gap:16px;
  padding:16px;
  justify-content:center;
  background:rgba(255,255,255,0.8);
  width:100%;
  view-transition-name:nav;

  &__link{
    color:inherit;
    text-decoration:none;
    padding:8px 12px;
    border:1px solid currentColor;
    &:hover{
    opacity:0.7;

    }
  }
}
// ::view-transition-old(nav),
// ::view-transition-new(nav) {
//   animation: none;
// }

::view-transition-group(nav) {
  // z-index: 10;
}