
.p-home-section-introduction{
  background:#cfc;
  &__title{
  }
  &__link{
    display:block;
    width:30em;
    &--about{
      view-transition-name: about-catch;
    }
    img{
      display:block;
      width:100%;
      height:auto;
    }
  }
}